@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>你的购物车</h1>
    <p class="lead">你喜欢的商品打折啦</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@Html.Action("Featured","Books")
